.register-container{
    width: 40%;
    margin: 0px auto;
    border: 1px solid silver;
    padding: 20px; 
    margin-top: 40px;
    border-radius: 10px;
    text-align: center;
}
.login-title{
    text-align: center;
}
.email,.password, .button ,.name{
    width: 100%;
    padding: 10px ;
    border-radius: 5px;
    border:1px solid silver;
    margin: 10px 0px;
}
.button{
    background: skyblue;
}

.button:hover{
    cursor: pointer;
}

@media (max-width: 40rem) {
      .register-container {
       width: 100%;
       padding: 30px 10px;
    }
}


